week02/.ipynb_checkpoints/Week2_Notebook-checkpoint.ipynb
.env
week02/.ipynb_checkpoints/Week2_Notebook-checkpoint.ipynb
week02/.ipynb_checkpoints/Week2_Notebook-checkpoint.ipynb
/week02/.ipynb_checkpoints
/week02/.ipynb_checkpoints
week02/.ipynb_checkpoints/Week2_Notebook-checkpoint.ipynb
week01/.ipynb_checkpoints/week1_starter-checkpoint.ipynb
week02/.ipynb_checkpoints/Week2_Notebook-checkpoint.ipynb
week02/.ipynb_checkpoints/Week2_Notebook-checkpoint.ipynb
